# Misc
*.log

# Python stuff
.python-version
__pycache__
*.pyc
*.egg-info

# IDEs
.idea
.vscode

# Safe place to put secret urls, etc
.secret

# Other cruft I don't want drafted in
*.png
*.xcf
*.webp
